$darkmode-shade1: #444444;
$darkmode-shade2: rgb(49, 49, 49);
$lightmode-shade1: rgb(180, 180, 180);
$lightmode-shade2: rgb(235, 235, 235);

body{
    transition: all ease-in-out 0.5s;
}

#box{
    align-content: center;
    width: 90%;
    margin: 10px auto;
    background-color: transparent;
}

.containers{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.5s;
}

#picture{
    margin-top: 20px;
    height: 300px;
    border-radius: 50%;
    transition: all ease-in-out 0.5s;
}

#picture.dark{
    filter: invert(90%);
}

#picture.light{
    filter: invert(0%);
}

ul{
    text-align: left;
}

li{
    margin: 5px;
}

#switchmode{
    position: fixed;
    right: 10px;
    top: 10px;
    transition: all ease-in-out 0.5s;
}

#backtop{
    position: fixed;
    right: 10px;
    bottom: 10px;
    transition: all ease-in-out 0.5s;
}

.light .containers{
    color: black;
    background: $lightmode-shade2;
}

.dark .containers{
    color: lightgray;
    background: $darkmode-shade2;
}

body.light{
    background: $lightmode-shade1;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

body.dark{
    background: $darkmode-shade1;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

.textblock{
    padding: 10px;
}

.btn{
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    transition: all ease-in-out 0.5s;
    border-radius: 5px;
}

.btn.light{
    color: white;
    background-color: $darkmode-shade2;
}

.btn.light:hover{
    background-color: $darkmode-shade1;
}

.btn.dark{
    color: black;
    background-color: $lightmode-shade2;
}

.btn.dark:hover{
    background-color: $lightmode-shade1;
}