$darkmode-shade1: #555555;
$darkmode-shade2: rgb(49, 49, 49);
$lightmode-shade1: rgb(180, 180, 180);
$lightmode-shade2: rgb(235, 235, 235);
$duskmode-shade: rgb(71, 55, 47);

@font-face{
    font-family: ankeFont;
    src: url(../webfonts/Anke.woff2);
}

body{
    font-family: ankeFont;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
}

#box{
    -ms-flex-line-pack: center;
        align-content: center;
    width: 90%;
    margin: 30px auto;
    background-color: transparent;
}

.containers{
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

#picture{
    margin-top: 20px;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 300px;
    border-radius: 50%;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
}

#picture.dark{
    -webkit-filter: invert(81%);
            filter: invert(81%);
}

#picture.light{
    -webkit-filter: invert(8%);
            filter: invert(8%);
}

ul{
    text-align: left;
}

li{
    margin: 5px;
}

#switchmode{
    position: fixed;
    right: 10px;
    top: 10px;
}

#backtop{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

#backtop.hidden{
    transform: translateY(70px);
    filter: blur(30px);
    -webkit-filter: blur(30px);
    opacity: 0;
}

.light .containers{
    color: black;
    background: $lightmode-shade2;
}

.dark .containers{
    color: lightgray;
    background: $darkmode-shade2;
}

body.light{
    background: $lightmode-shade1;
}

body.dusk{
    background: peachpuff;
}

body.dark{
    background: $darkmode-shade1;
}

.textblock{
    padding: 10px;
}

.btn{
    cursor: pointer;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    transition: all ease-in-out 0.5s;
    border-radius: 5px;
    z-index: 100;
}

.btn.light{
    color: white;
    background-color: $darkmode-shade2;
}

.btn.light:hover{
    background-color: $darkmode-shade1;
}

.btn.dark{
    color: black;
    background-color: $lightmode-shade2;
}

.btn.dark:hover{
    background-color: $lightmode-shade1;
}

.sectionicon{
    font-size: 3em;
}